body {
    padding: 0;
    margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 150%;
    color: #777;
    background-color: #fff;
	/* For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
	For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */
  }

  a:link {
    color: #AAA;
  }
  
  /* visited link */
  a:focus {
    color: #333;
  }
  
  /* mouse over link */
  a:hover {
	color: #006ab3;
   /* color: #4aaaa5; */
  }
  
  /* selected link */
  a:active {
    color: #0080C0;
  } 
  
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #555;
    }
.portfolio_img {
	width: 100%;
	height: 75%;
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.portfolio_img {
		width: 500px;
		height: 375px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.portfolio_img {
		width: 600px;
		height: 451px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 

#header {
	margin:auto !important;
	background-color: #fff;
	margin: 0 10%;
	padding: 0 0 0 .2em;
	width: 95%;
}
#main {
    border-top: .1em solid #CCC;
 /*   border-bottom: 8px solid #CCC; */
  	background-image:url(../images/background.jpg);
  	padding: 0 .6em 3em .8em;
}
#container{
    border: 3px solid #ddd;
	margin: auto;
	padding: .3em .4em;
	background-color: #fff;
	position:relative;
	top: 1.3em;
	bottom: 1.8em;
	width: 98%;
} 
.teal {
  color: #006ab3;
  font-size: 2em;
  margin-left: .2em;
  margin-top: .1em;
}
.clear {
  clear:both;
}
.container {
  width: 100%;
  margin: 0 auto;
}
 
#main p {
  line-height: 32px;
}

  .myname {
    float: left;
    font-size: 2em;
    padding: .7em;
    color: #fff;
    background-color: #006ab3;
  }
  
  .topnav {
    float: right;
    padding: 18px 0;
    margin: 10px;
    overflow: hidden;
    }

  .navitem {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 10px;
  }
    
	.bio-image {
    	width: 200px;
    	height: 200px;
    margin-right: 20px;
    float:left;
  }
#footer {
	background-color: #666;
	border-top: 8px solid #006ab3;
	position:relative;
    height: 4.5em;
	padding: .8em;
	text-align:center;
	color:#CCC;
	font-size:small;
}
#content {
  min-height: calc(100vh - 50px);
}
#contact-form-box
{
    height: 18px;
	padding: 8px;
    font-size:14pt;
}
#contact-form-textarea
{
	padding: 8px;
    font-size:14pt;
}
#contact-form-submit
{
	padding: 10px;
    font-size:18pt;
}
#row
{
    margin-top: 21px;
}
.portfolio-image-left {
	padding: .3em;
    margin-right: .2em;
	width: 100%;
}
.portfolio-image-right {
	padding: .3em;
    margin-left: .2em;
	width: 100%;
}.bold_contact {
	font-weight: bold;
}
